'global':
  'welcome':
    'showOnStartup': false
  'core':
    'themes': [
      'atom-light-ui'
      'birds-of-paradise-theme'
    ]
  'editor':
    'invisibles': {}
  'tree-view':
    'hideIgnoredNames': true
